<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <title>微金所</title>
    <link href="libs/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="libs/html5shiv/html5shiv.min.js"></script>
    <script src="libs/respond/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
<!--顶部通栏-->
<header class="wjs_topBar hidden-sm hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <a href="#" class="wjs_downApp">
                    <span class="wjs_icon wjs_icon_phone"></span>
                    <span>手机微金所</span>
                    <span class="glyphicon glyphicon-menu-down"></span>
                    <img src="images/code.jpg" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <span class="wjs_icon wjs_icon_tel"></span>
                <span>4006-89-4006（服务时间：9:00-21:00）</span>
            </div>
            <div class="col-md-2">
                <a href="#">常见问题</a>
                <a href="#">财富登录</a>
            </div>
            <div class="col-md-3">
                <a href="#" class="btn btn-danger btn-register">免费注册</a>
                <a href="#" class="btn btn-link btn-login">登录</a>
            </div>
        </div>
    </div>
</header>
<!--导航栏-->
<nav class="navbar wjs_nav" data-spy="affix" data-offset-top="200">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <span class="wjs_icon wjs_icon_logo"></span>
                <span class="wjs_icon wjs_icon_name"></span>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">我要投资</a></li>
                <li><a href="#">我要借贷</a></li>
                <li><a href="#">平台介绍</a></li>
                <li><a href="#">新手专区</a></li>
                <li><a href="#">最新动态</a></li>
                <li><a href="#">微平台</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right hidden-sm">
                <li><a href="#">个人中心</a></li>
            </ul>
        </div>
    </div>
</nav>
<!--轮播图-->
<div class="wjs_banner">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="5000">
        <ol class="carousel-indicators">
            <!--TODO-->
        </ol>
        <div class="carousel-inner" role="listbox">
            <!--TODO-->
        </div>
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" ></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>
<!--信息-->
<section class="wjs_info hidden-xs">
    <div class="container">
        <div class="col-sm-6 col-md-4">
            <a href="#">
                <div class="media">
                    <div class="media-left">
                        <span class="wjs_icon wjs_icon_dollar"></span>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">支付交易保障</h4>
                        <p>银联支付全称保证支付安全</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a href="#">
                <div class="media">
                    <div class="media-left">
                        <span class="wjs_icon wjs_icon_dollar"></span>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">支付交易保障</h4>
                        <p>银联支付全称保证支付安全</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a href="#">
                <div class="media">
                    <div class="media-left">
                        <span class="wjs_icon wjs_icon_dollar"></span>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">支付交易保障</h4>
                        <p>银联支付全称保证支付安全</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a href="#">
                <div class="media">
                    <div class="media-left">
                        <span class="wjs_icon wjs_icon_dollar"><file:/C:/Users/miaosen/Desktop/website/dayweijinsuo/111.html/span>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">支付交易保障</h4>
                        <p>银联支付全称保证支付安全</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a href="#">
                <div class="media">
                    <div class="media-left">
                        <span class="wjs_icon wjs_icon_dollar"></span>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">支付交易保障</h4>
                        <p>银联支付全称保证支付安全</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a href="#">
                <div class="media">
                    <div class="media-left">
                        <span class="wjs_icon wjs_icon_dollar"></span>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">支付交易保障</h4>
                        <p>银联支付全称保证支付安全</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>
<!--预约-->
<section class="wjs_book">
    <div class="container">
        <div class="pull-left">
            <span class="wjs_icon wjs_icon_clock"></span>
            现在有 273 人在排队，累计预约交易成功 7571 次。 什么是预约投标？
            <a href="#" class="wjs_book_link">立即预约</a>
        </div>
        <div class="pull-right hidden-xs">
            <a href="#" class="wjs_book_video"><span class="wjs_icon wjs_icon_video"></span> 微金所企业宣传片</a>
        </div>
    </div>
</section>
<!--产品-->
<section class="wjs_product">
    <div class="container">
        <div class="nav-tabs-parent">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#wjs_product_01" data-toggle="tab">特别推荐</a></li>
                <li><a href="#wjs_product_02" data-toggle="tab">微投资</a></li>
                <li><a href="#wjs_product_03" data-toggle="tab">微投资</a></li>
                <li><a href="#wjs_product_04" data-toggle="tab">微投资</a></li>
                <li><a href="#wjs_product_05" data-toggle="tab">微投资</a></li>
                <li><a href="#wjs_product_06" data-toggle="tab">微投资</a></li>
                <li><a href="#wjs_product_07" data-toggle="tab">微投资</a></li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane active" id="wjs_product_01">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <a href="#" class="product_box active">
                        <div class="pro_right">
                            <p><b>8</b><sub>%</sub></p>
                            <p>年利率</p>
                        </div>
                        <div class="pro_left">
                            <h3>新手体验标1002期</h3>
                            <div class="col-xs-6">
                                <p>起投金额(元)</p>
                                <p>0.01万</p>
                            </div>
                            <div class="col-xs-6 text-right">
                                <p>起投金额(元)</p>
                                <p>0.01万</p>
                            </div>
                            <div class="col-xs-6">
                                <p>起投金额(元)</p>
                                <p>0.01万</p>
                            </div>
                            <div class="col-xs-6 text-right">
                                <p>起投金额(元)</p>
                                <p>0.01万</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <a href="#" class="product_box">
                        <div class="pro_right">
                            <div class="tips">
                                <span class="red" data-toggle="tooltip" data-placement="top" title="微金宝">微</span>
                                <span class="green" data-toggle="tooltip" data-placement="bottom" title="河北省">冀</span>
                            </div>
                            <p><b>8</b><sub>%</sub></p>
                            <p>年利率</p>
                        </div>
                        <div class="pro_left">
                            <h3>新手体验标1002期</h3>
                            <div class="col-xs-6">
                                <p>起投金额(元)</p>
                                <p>0.01万</p>
                            </div>
                            <div class="col-xs-6 text-right">
                                <p>起投金额(元)</p>
                                <p>0.01万</p>
                            </div>
                            <div class="col-xs-6">
                                <p>起投金额(元)</p>
                                <p>0.01万</p>
                            </div>
                            <div class="col-xs-6 text-right">
                                <p>起投金额(元)</p>
                                <p>0.01万</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <a href="#" class="product_box">
                        <div class="pro_right">
                            <p><b>8</b><sub>%</sub></p>
                            <p>年利率</p>
                        </div>
                        <div class="pro_left">
                            <h3>新手体验标1002期</h3>
                            <div class="col-xs-6">
                                <p>起投金额(元)</p>
                                <p>0.01万</p>
                            </div>
                            <div class="col-xs-6 text-right">
                                <p>起投金额(元)</p>
                                <p>0.01万</p>
                            </div>
                            <div class="col-xs-6">
                                <p>起投金额(元)</p>
                                <p>0.01万</p>
                            </div>
                            <div class="col-xs-6 text-right">
                                <p>起投金额(元)</p>
                                <p>0.01万</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <a href="#" class="product_box">
                        <div class="pro_right">
                            <p><b>8</b><sub>%</sub></p>
                            <p>年利率</p>
                        </div>
                        <div class="pro_left">
                            <h3>新手体验标1002期</h3>
                            <div class="col-xs-6">
                                <p>起投金额(元)</p>
                                <p>0.01万</p>
                            </div>
                            <div class="col-xs-6 text-right">
                                <p>起投金额(元)</p>
                                <p>0.01万</p>
                            </div>
                            <div class="col-xs-6">
                                <p>起投金额(元)</p>
                                <p>0.01万</p>
                            </div>
                            <div class="col-xs-6 text-right">
                                <p>起投金额(元)</p>
                                <p>0.01万</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="tab-pane" id="wjs_product_02">2</div>
            <div class="tab-pane" id="wjs_product_03">3</div>
            <div class="tab-pane" id="wjs_product_04">4</div>
            <div class="tab-pane" id="wjs_product_05">5</div>
            <div class="tab-pane" id="wjs_product_06">6</div>
            <div class="tab-pane" id="wjs_product_07">7</div>
        </div>
    </div>
</section>
<!--新闻-->
<section class="wjs_news">
    <div class="container">
        <div class="col-md-2 col-md-offset-2">
            <h3 class="wjs_news_title">全部新闻</h3>
        </div>
        <div class="col-md-1">
            <div class="wjs_news_line hidden-xs hidden-sm"></div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><span class="wjs_icon wjs_icon_news_01"></span></a></li>
                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><span class="wjs_icon wjs_icon_news_02"></span></a></li>
                <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"><span class="wjs_icon wjs_icon_news_03"></span></a></li>
                <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab"><span class="wjs_icon wjs_icon_news_04"></span></a></li>
            </ul>
        </div>
        <div class="col-md-7">
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">
                    <ul class="wjs_news_content">
                        <li><a href="#">2016-09-22【微还款】一周还款公告2016年1月18日-1月24日</a></li>
                        <li><a href="#">2016-09-22【微还款】一周还款公告2016年1月18日-1月24日</a></li>
                        <li><a href="#">2016-09-22【微还款】一周还款公告2016年1月18日-1月24日</a></li>
                        <li><a href="#">2016-09-22【微还款】一周还款公告2016年1月18日-1月24日</a></li>
                        <li><a href="#">2016-09-22【微还款】一周还款公告2016年1月18日-1月24日</a></li>
                        <li><a href="#">2016-09-22【微还款】一周还款公告2016年1月18日-1月24日</a></li>
                        <li><a href="#">2016-09-22【微还款】一周还款公告2016年1月18日-1月24日</a></li>
                        <li><a href="#">2016-09-22【微还款】一周还款公告2016年1月18日-1月24日</a></li>
                    </ul>
                </div>
                <div role="tabpanel" class="tab-pane" id="profile">2</div>
                <div role="tabpanel" class="tab-pane" id="messages">3</div>
                <div role="tabpanel" class="tab-pane" id="settings">4</div>
            </div>
        </div>
    </div>
</section>
<!--合作伙伴-->
<footer class="wjs_partner">
    <div class="container">
        <h3 class="text-center">合作伙伴</h3>
        <ul>
            <li><a href="#"><span class="wjs_icon wjs_icon_partner01"></span></a></li>
            <li><a href="#"><span class="wjs_icon wjs_icon_partner02"></span></a></li>
            <li><a href="#"><span class="wjs_icon wjs_icon_partner03"></span></a></li>
            <li><a href="#"><span class="wjs_icon wjs_icon_partner04"></span></a></li>
            <li><a href="#"><span class="wjs_icon wjs_icon_partner05"></span></a></li>
            <li><a href="#"><span class="wjs_icon wjs_icon_partner06"></span></a></li>
            <li><a href="#"><span class="wjs_icon wjs_icon_partner07"></span></a></li>
            <li><a href="#"><span class="wjs_icon wjs_icon_partner08"></span></a></li>
            <li><a href="#"><span class="wjs_icon wjs_icon_partner09"></span></a></li>
        </ul>
    </div>
</footer>
<script type="text/template" id="point">
    <% for(var i = 0; i < list.length ; i ++){ %>
        <li data-target="#carousel-example-generic" class="<%=i==0?'active':''%>" data-slide-to="<%=i%>"></li>
    <% } %>
</script>
<script type="text/template" id="image">
    <% for(var i = 0; i < list.length ; i ++){ %>
    <div class="item <%=i==0?'active':''%>">
        <% if(isM){ %>
        <a class="imgBox_m" href="#"><img src="<%=list[i].mUrl%>" alt=""></a>
        <% }else{ %>
        <a class="imgBox_pc" href="#" style="background-image: url(<%=list[i].pcUrl%>)" ></a>
        <% } %>
    </div>
    <% } %>
</script>
<script src="libs/jquery/jquery.min.js"></script>
<script src="libs/bootstrap/js/bootstrap.js"></script>
<script src="libs/artTemplate/template-native.js"></script>
<script src="libs/iscroll/iscroll.js"></script>
<script src="js/index.js"></script>
</body>
</html>
